* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Libre Franklin", sans-serif;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  color: #151f29;
  width: 100%;
  max-width: 375px;
  text-align: center;
  margin: auto 0;
  padding: 4.5rem 0;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 600px;
    padding: unset;
  }
}

.logo {
  width: 7.2rem;
  margin: 0 auto;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

.form-container {
  margin: 7% 0;
  padding: 0 2rem;
}

@media only screen and (min-width: 600px) {
  .form-container {
    padding: unset;
    width: 100%;
  }
}

.heading--main {
  color: #969696;
  font-weight: 300;
  margin-bottom: 1rem;
}

.heading--main span {
  color: #151f29;
  font-weight: 700;
}

.heading--sub {
  margin-bottom: 4.5rem;
}

@media only screen and (min-width: 600px) {
  .heading--sub {
    margin-bottom: 3rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form__input, .form__cta {
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.form__input {
  cursor: text;
  border: 1px solid #c2d3ff;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .form__input {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-bottom: unset;
    margin-right: 1.5rem;
  }
}

.form__input::-webkit-input-placeholder {
  color: #c2d3ff;
}

.form__input:-ms-input-placeholder {
  color: #c2d3ff;
}

.form__input::-ms-input-placeholder {
  color: #c2d3ff;
}

.form__input::placeholder {
  color: #c2d3ff;
}

.form__cta {
  color: #fff;
  font-weight: 600;
  background-color: #4f7df3;
  -webkit-box-shadow: 0 0.75rem 1rem 0 rgba(79, 125, 243, 0.2);
          box-shadow: 0 0.75rem 1rem 0 rgba(79, 125, 243, 0.2);
}

@media only screen and (min-width: 600px) {
  .form__cta {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.illustration {
  width: 100%;
  margin: 5% auto 10%;
}

.illustration img {
  width: 100%;
  height: auto;
  display: block;
}

.copy {
  color: #969696;
}

.copy .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  list-style: none;
  color: #4f7df3;
}

.copy .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.6rem;
  border: 1px solid #c2d3ff;
  border-radius: 50%;
  margin: auto 0.75rem;
  cursor: pointer;
}

.copy__text {
  margin-top: 3rem;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */