.container {
  color: $color-neutral-dark-blue;
  width: 100%;
  max-width: $bp-xs;
  text-align: center;
  margin: auto 0;
  padding: 4.5rem 0;
  // @include flexCenter;
  // justify-content: space-between;

  @include breakpoint(sm) {
    max-width: $bp-sm;
    padding: unset;
  }
}

.logo {
  width: 7.2rem;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.form-container {
  margin: 7% 0;
  padding: 0 2rem;

  @include breakpoint(sm) {
    padding: unset;
    width: 100%;
  }
}

.heading {
  &--main {
    color: $color-neutral-gray;
    font-weight: 300;
    margin-bottom: 1rem;

    span {
      color: $color-neutral-dark-blue;
      font-weight: 700;
    }
  }

  &--sub {
    margin-bottom: 4.5rem;

    @include breakpoint(sm) {
      margin-bottom: 3rem;
    }
  }
}

.form {
  @include flexCenter;

  @include breakpoint(sm) {
    flex-direction: row;
  }

  &__input,
  &__cta {
    width: 100%;
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    @include btnReset;
  }

  &__input {
    cursor: text;
    border: 1px solid $color-secondary-pale-blue;
    margin-bottom: 1.5rem;

    @include breakpoint(sm) {
      flex: 2;
      margin-bottom: unset;
      margin-right: 1.5rem;
    }

    &::placeholder {
      color: $color-secondary-pale-blue;
    }
  }

  &__cta {
    color: #fff;
    font-weight: 600;
    background-color: $color-primary-blue;
    box-shadow: 0 0.75rem 1rem 0 rgba($color-primary-blue, 0.2);

    @include breakpoint(sm) {
      flex: 1;
    }
  }
}

.illustration {
  width: 100%;
  margin: 5% auto 10%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.copy {
  color: $color-neutral-gray;

  .list {
    @include flexCenter;
    flex-direction: row;
    list-style: none;
    color: $color-primary-blue;

    &__item {
      @include flexCenter;
      width: 3.5rem;
      height: 3.5rem;
      font-size: 1.6rem;
      border: 1px solid $color-secondary-pale-blue;
      border-radius: 50%;
      margin: auto 0.75rem;
      cursor: pointer;
    }
  }

  &__text {
    margin-top: 3rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
